/* =========================
   CSS VARIABLES
========================= */
:root {
    --primary: #2d5a3a;
    --secondary: #fcbf49;
    --accent: #003049;
    --light: #fdf0d5;
    --gray: #eae2b7;
    --text: #1a1a1a;
}
/* =========================
   GLOBAL STYLES
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text);
    background: var(--light);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* =========================
   HEADER
========================= */
header {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom: 8px solid var(--secondary);
}

header h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

/* =========================
   HERO IMAGE
========================= */
.hero img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* =========================
   SECTIONS
========================= */
section {
    padding: 0;
    text-align: center;
}

/* DATA */
.data {
    background: var(--gray);
}

.data h2,
.weather h2 {
    background-color: var(--primary);
    color: white;
    padding: 0.75rem;
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}

.data p {
    margin: 0.4rem 0;
    padding: 0.5rem 1rem;
}



.weather h2::after {
    content: "";
}


.weather p {
    margin: 0.4rem 0;
    padding: 0.5rem 1rem;
}

/* Weather Icon (mobile) */
.weather-icon {
    width: 10px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 1rem;
    display: block;
}


footer {
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem;

}

footer p {
    margin: 0.3rem 0;
}

@media (min-width: 768px)  {
 
    .hero {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        height: 800px;

    }

    .data,
    .weather {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.85);
        width: 200px;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        right: 80px;
        height: auto;
    }

    .data {
        top: 80px;
        left: 30px;
        /* Top Right position */
    }

    .weather {
        bottom: 30px;
        right: 30px;
    }

    /* Ensure the H2 still looks like a red bar on top of the card */
    .data h2,
    .weather h2 {
        background-color: var(--primary);
        color: white;
        margin: 0;
        padding: 10px;
    }
    .weather-icon {
        display: none;
            /* Hide SVG on Desktop */
    }
    
    .weather h2::after {
        content: " ⛅";
            margin-left: 10px;
    }
}