@media (min-width: 768px) {

    #menuBtn {
        display: none;
    }

    nav {
        display: block !important;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    nav ul {
        display: flex;
        justify-content: center;
        gap: 1rem;
}

}